<?xml version="1.0"?>
<config>
    <modules>
        <Linus_Kickbox>
            <version>1.0.0</version>
        </Linus_Kickbox>
    </modules>
    <global>
        <helpers>
            <linus_kickbox>
                <class>Linus_Kickbox_Helper</class>
            </linus_kickbox>
        </helpers>
        <models>
            <linus_kickbox>
                <class>Linus_Kickbox_Model</class>
            </linus_kickbox>
        </models>
    </global>

    <default>
        <linus_kickbox>
            <api>
                <key></key>
            </api>
        </linus_kickbox>
    </default>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <linus_kickbox>
                                            <title>LinusKickbox - All</title>
                                        </linus_kickbox>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
